.parent :nth-child(3n) {
    color: red;
}
.test::after {
    content: "DDD";
}
.instagram {
    fill: green;
}
.instagram:hover {
    fill: hotpink;
    stroke-width: 1em;
}
@keyframes layout{
    from {
        background: green;
        width: 100%;
    }
    to {
        background: red;
        width: 50%;
    }
}
.services {
    animation-name: layout;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 3;
}
.services:hover {
    animation-play-state: paused;

}
.button-link:active {
    transform: scale(2)
}
@keyframes rot-gear {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.gear {
    animation-name: rot-gear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.day {
    position: absolute;
    display: flex;
    width:700px;
    height: 500px;
    background-color: blue;
}
.ground {
    z-index: 1;
    padding-top: 500px;
    width:700px;
    height: 200px;
    background-color: brown;
}
.sun {
    position: relative;
    padding-top: 500px;
}
@keyframes sun-fly {
    from {
        padding-top: 500px;
        padding-left: 0;
    }
    50% {
        padding-top: 0;
        padding-left: 250px;
    }
    to {
        padding-top: 500px;
        padding-left: 700px;
    }
}
.sun {
    animation-name: sun-fly;
    animation-duration: 5s;
    animation-timing-function: linear;
}
button {
    /*width: 100px;*/
    /*height: 30px;*/
    /*background-color: red;*/
    /*color: #fff;*/
    /*outline: none;*/
}

.menu {
    width: 300px;
    height: 300px;
    background-color: aqua;
}
#menu-button {
    display: none;
}
#menu-button:checked + .menu {
    display: none;
}

.gallery-item {
    width: 50px;
    height: 50px;
    background-color: aquamarine;
}
.gallery-item:nth-child(1) {
    background-color: gold;
}
.gallery-item:nth-child(2) {
    background-color: greenyellow;
}
.gallery-item:nth-child(3) {
    background-color: black;
}
.gallery-item:nth-child(4) {
    background-color: dodgerblue;
}
.gallery-item:nth-child(5) {
    background-color: red;
}

.preview-gallery {
    width: 250px;
    height: 250px;
    background-color: aquamarine;
}

.gallery-item:nth-child(1):focus ~ .preview-gallery{
    background-color: gold;
}
.gallery-item:nth-child(2):focus ~ .preview-gallery{
    background-color: greenyellow;
}
.gallery-item:nth-child(3):focus ~ .preview-gallery{
    background-color: black;
}
.gallery-item:nth-child(4):focus ~ .preview-gallery{
    background-color: dodgerblue;
}
.gallery-item:nth-child(5):focus ~ .preview-gallery{
    background-color: red;
}