
.day {
    position: absolute;
    display: flex;
    width:700px;
    height: 500px;
    background-color: blue;
}
.ground {
    z-index: 1;
    padding-top: 500px;
    width:700px;
    height: 200px;
    background-color: brown;
}
.sun {
    position: relative;
    padding-top: 500px;
}
@keyframes sun-fly {
    from {
        padding-top: 100%;
        padding-left: 0%;
    }
    50% {
        padding-top: 0%;
        padding-left: 50%;
    }
    to {
        padding-top: 100%;
        padding-left: 100%;
    }
}
.sun {
    animation-name: sun-fly;
    animation-duration: 5s;
    animation-timing-function: linear;
}